/* ----- Common styles ----- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* ----- /Common styles -----*/

/* ======== Page Header styles ======== */
/* ------ Mobile adaptaion Page Header Section ------- */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
}
.logo-part {
  color: #2e2f42;
}

.menu {
  display: none;
}

.contact-blok {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/* ------- Tablet adaptaion  Page Header Section */

@media only screen and (min-width: 768px) {
  .contact-blok {
    display: block;
  }
  .open-menu-btn {
    display: none;
  }
  .logo {
    margin-right: 120px;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
    height: 4px;
    width: 100%;
  }
  .contact-blok {
    display: block;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
}

/* ------ Desktop adaptaion Page Header Section ------- */

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 176px;
  }
  .contact-list {
    flex-direction: row;
    gap: 40px;
  }
  .contact-link {
    font-style: 16px;
    line-height: 1.5;
  }
}

/* ======== /Page Header styles ======== */

/* ======== Hero Section ======== */
/* ------ Mobile adaptaion Hero Section ------- */
.hero {
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #2e2f42;
}
@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-mobile@2x.jpg);
  }
}

.main-title {
  max-width: 216px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.order-service-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}

/* ------- Tablet adaptaion  Hero Section */

@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-tablet.jpg);
    padding-top: 112px;
    padding-bottom: 122px;
  }
  .main-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}
@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-tablet@2x.jpg);
  }
}

/* ------ Desktop adaptaion Hero Section ------- */

@media only screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-desctop.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}
@media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-desctop@2x.jpg);
  }
}

/* ======== /Hero Section ======== */

/* ======== Benefits Section ======== */
/* ------ Mobile adaptaion Benefits Section ------- */
.benefits {
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefits-container-icon {
  display: none;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.benefits-list-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------- Tablet adaptaion  Benefits Section */

@media only screen and (min-width: 768px) {
  .benefits-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-list-title {
    text-align: left;
  }
}

/* ------ Desktop adaptaion Benefits Section ------- */

@media only screen and (min-width: 1158px) {
  .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .benefits-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .benefits-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefits-list-text {
    font-weight: 400;
  }
}
/* ======== /Benefits Section ======== */

/* ======== Our-team Section ======== */
/* ------ Mobile adaptaion Our-team Section ------- */
.our-team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
}
.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.our-team-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}
.our-team-info {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.our-team-fullname {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.our-team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.our-team-social-item .our-team-social-link {
  width: 40px;
  height: 40px;
}

.our-team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-link:hover,
.our-team-social-link:focus {
  background-color: #404bbf;
}
.social-list-icon {
  fill: #f4f4fd;
}

/* ------- Tablet adaptaion  Our-team Section */

@media only screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    padding: 0 92px;
  }
  .our-team-list-item {
    width: calc((100% - 24px) / 2);
  }
}
/* ------ Desktop adaptaion Our-team Section ------- */

@media screen and (min-width: 1158px) {
  .our-team {
    padding: 120px 0;
  }
  .our-team-list {
    flex-wrap: nowrap;
    gap: 24px;
    padding: 0;
  }
  .our-team-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}
/* ======== /Our-team Section ======== */

/* ======== Portfolio Section ======== */
/* ------ Mobile adaptaion Portfolio Section ------- */
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portfolio-list-item {
  max-width: 356px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-overlay-text {
  display: none;
}

/* ------- Tablet adaptaion  Portfolio Section ------- */

@media only screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .our-team-list-item {
    width: calc((100% - 24px) / 2);
  }
}
/* ------ Desktop adaptaion Portfolio Section ------- */

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-list-item {
    width: calc((100% - 2 * 24px) / 3);
  }
  .portfolio-img-overlay {
    position: relative;
    overflow: hidden;
  }
  .portfolio-overlay-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    color: #f4f4fd;
    overflow: auto;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
  }
  .portfolio-list-item:hover .portfolio-overlay-text {
    transform: translateY(0);
  }
}
/* ========= Footer styles ========= */
/* ------ Mobile adaptaion Footer styles ------- */
.page-footer {
  padding: 96px 0;
  background-color: #2e2f42;
}

.footer-text-wrap {
  margin-bottom: 72px;
}

.logo-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-left: 86px;
  margin-bottom: 16px;
}

.logo-footer-part {
  color: #f4f4fd;
}
.footer-text {
  max-width: 288px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 72px;
}

.social-list-item .social-list-link {
  width: 40px;
  height: 40px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #31d0aa;
}

.social-list-icon {
  fill: #f4f4fd;
}
/*----- Form footer ------ */

.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.footer-form-input-email {
  display: block;
  width: 288px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
  margin-bottom: 16px;
}

.footer-form-input-email::placeholder {
  color: #ffffff;
}

.footer-form-btn {
  display: flex;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  margin: 0 auto;
}
.footer-form-btn-icon {
  margin-left: 16px;
  fill: #ffffff;
}
/* ------- Tablet adaptaion  Footer styles ------- */

@media only screen and (min-width: 768px) {
  .footer-text-footer-social-wrap {
    display: flex;
    gap: 24px;
    margin-right: 148px;
    margin-left: 92px;
  }
  .footer-text-wrap {
    margin-bottom: 0;
  }
  .logo-footer {
    margin-left: 0;
  }
  .footer-text {
    min-width: 264px;
  }
  .footer-social-text {
    text-align: left;
  }
  .footer-social {
    display: flex;
    flex-direction: column;
  }
  .footer-form-wrapper {
    margin-left: 92px;
  }

  .footer-form-text {
    text-align: left;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-form-input-email {
    width: 264px;
  }
  .footer-form-btn {
    margin: 0;
  }
}

/* ------ Desktop adaptaion  Footer Section ------- */

@media screen and (min-width: 1158px) {
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .page-footer-container {
    display: flex;
    align-items: baseline;
  }
  .footer-text-footer-social-wrap {
    gap: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .footer-text-wrap {
    margin-right: 120px;
  }

  .footer-form-wrapper {
    margin-left: 80px;
  }
}
/* ========= /Footer styles ========= */

/* ========= Backdrop styles ========= */
/* ------ Mobile adaptaion Backdrop styles ------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ========= /Backdrop styles ========= */
/* --------- Mobile Modal window styles ------ */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-clouse-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-clouse-btn:hover,
.modal-clouse-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-clouse-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-clouse-btn:hover > .modal-clouse-btn-icon,
.modal-clouse-btn:focus > .modal-clouse-btn-icon {
  fill: #ffffff;
}

/* ----- Review form styles ------ */
.review-form-description {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-field-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 34px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus + .review-form-field-icon {
  fill: #4d5ae5;
}

.review-form-field-wrapp {
  margin-bottom: 16px;
}

.review-form-message {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.review-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.review-form-checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.review-form-privacy-checkbox:checked
  + .review-form-checkbox-label
  > .checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox {
  display: flex;
  width: 16px;
  height: 16px;
  fill: transparent;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-text {
  display: block;
  max-width: 231px;
}

.privacy-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----- /Review form styles ------ */

/* ------- Tablet adaptaion  Footer styles ------- */

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
  .review-form-input {
    padding-left: 38px;
  }
  .checkbox-text {
    max-width: 100%;
  }
}

/* ------ /Modal window styles ------ */

/* ======== Mobile menu =========  */
.mobile-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 320px;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.mobile-menu-nav-list {
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.mobile-menu-nav-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-nav-list-item:first-child {
  color: #404bbf;
}

.menu-address {
  font-style: normal;
  margin-bottom: 48px;
}
.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu-address-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.menu-address-list-link.link-tel {
  color: #4d5ae5;
}
.mobile-menu-social-list {
  display: flex;
  gap: 40px;
}
.mobile-menu-social-item {
  width: 40px;
  height: 40px;
}
.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-social-link-icon {
  fill: #f4f4fd;
}
/* ======== /Mobile menu =========  */
